
// Guideline colors.

$ardoise: #5a696b;
$pomme: #b9cd00;
$citron: #e8f000;

$vert-mouvement: $pomme;
$orange-fabrique: #e68c1e;
$bleu-oasis: #87b4c3;
$jaune-universite: #facd14;
$vert-outils-libres: #64d29b;
$rose-agora: #d76e82;

$grey-dark: #a0a0a5;
$grey: #c8c8cd;
$grey-light: #e8e8eb;

$green: #0f8246;
$red: #d3001b;
$black: #000000;
$white: #ffffff;

// Usage.

$main-color: $vert-mouvement;

$headings-color: $ardoise;
$text-color: $ardoise;

$link-color: $main-color;
$link-hover-color: $text-color;

$button-main-color: $main-color;
$button-secondary-color: $white;
$button-disabled-color: $text-color;
$button-disabled-bg-color: $grey;
