@import "colors";

// Path to fonts directories.

// @root is replaced by gulp during compilation to manage common stylesheets
// and pattern ones that does not have the same starting point.
$fonts-dir: '@root/dist/fonts';

// Available font faces.
@font-face {
  font-family: 'geomanist';
  src: url($fonts-dir + '/geomanist/geomanist-regular-webfont.woff2') format('woff2'),
  url($fonts-dir + '/geomanist/geomanist-regular-webfont.woff') format('woff');
  font-weight: normal; // 400
  font-style: normal;
}
@font-face {
  font-family: 'geomanist';
  src: url($fonts-dir + '/geomanist/geomanist-book-webfont.woff2') format('woff2'),
  url($fonts-dir + '/geomanist/geomanist-book-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'geomanist';
  src: url($fonts-dir + '/geomanist/geomanist-medium-webfont.woff2') format('woff2'),
  url($fonts-dir + '/geomanist/geomanist-medium-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'geomanist';
  src: url($fonts-dir + '/geomanist/geomanist-bold-webfont.woff2') format('woff2'),
  url($fonts-dir + '/geomanist/geomanist-bold-webfont.woff') format('woff');
  font-weight: bold; // 700
  font-style: normal;
}
@font-face {
  font-family: 'geomanist';
  src: url($fonts-dir + '/geomanist/geomanist-black-webfont.woff2') format('woff2'),
  url($fonts-dir + '/geomanist/geomanist-black-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntu';
  src: url($fonts-dir + '/ubuntu/ubuntu-r-webfont.woff2') format('woff2'),
  url($fonts-dir + '/ubuntu/ubuntu-r-webfont.woff') format('woff');
  font-weight: normal; // 400
  font-style: normal;
}
@font-face {
  font-family: 'ubuntu';
  src: url($fonts-dir + '/ubuntu/ubuntu-ri-webfont.woff2') format('woff2'),
  url($fonts-dir + '/ubuntu/ubuntu-ri-webfont.woff') format('woff');
  font-weight: normal; // 400
  font-style: italic;
}

// Default families.

$base-font: geomanist, ubuntu, sans-serif;
$heading-font: geomanist, sans-serif;

// Sizes per breakpoint.
// value = (font-size, line-height)
$font-sizes: (
  h1: (
    mobile: (2rem, 2rem), // 32px 32px
    tablet: (3.25rem, 3.5rem), // 52px 56px
    desktop: (3.125rem, 4rem), // 50px 64px
    wide: (3.125rem, 4rem) // 50px 64px
  ),
  h2: (
    mobile: (1.625rem, 2rem), // 26px 32px
    tablet: (2.875rem, 3.5rem), // 46px 56px
    desktop: (2.625rem, 3.5rem), // 42px 56px
    wide: (2.625rem, 3.5rem) // 42px 56px
  ),
  h3: (
    mobile: (1.125rem, 1.5rem), // 18px 24px
    tablet: (1.75rem, 2rem), // 28px 32px
    desktop: (1.5rem, 2rem), // 24px 32px
    wide: (1.5rem, 2rem) // 24px 32px
  ),
  h4: (
    mobile: (1.0625rem, 1.5rem), // 17px 24px
    tablet: (1.625rem, 2rem), // 26px 32px
    desktop: (1.375rem, 2rem), // 22px 32px
    wide: (1.375rem, 2rem) // 22px 32px
  ),
  h5: (
    mobile: (1rem, 1.5rem), // 16px 24px
    tablet: (1.5rem, 2rem), // 24px 32px
    desktop: (1.25rem, 2rem), // 20px 32px
    wide: (1.25rem, 2rem) // 20px 32px
  ),
  h6: (
    mobile: (0.875rem, 1.5rem), // 14px 24px
    tablet: (1.25rem, 2.5rem), // 20px 40px
    desktop: (1.0625rem, 2rem), // 17px 32px
    wide: (1.0625rem, 2rem) // 17px 32px
  ),
  text: (
    mobile: (0.875rem, 1.5rem), // 14px 24px
    tablet: (1.25rem, 2.5rem), // 20px 40px
    desktop: (1.0625rem, 2rem), // 17px 32px
    wide: (1.0625rem, 2rem) // 17px 32px
  )
);

// Misc.

$link-underline-size: .125rem; // 2px
$link-padding-size: .125em; // 2px if font-size is 1em

%title-commons {
  color: $headings-color;
  font-family: $heading-font;
  font-weight: 600;
  margin-bottom: .5em;

  &:first-child { margin-top: 0; }
}
