
$nb-cols: (
  mobile: 1,
  tablet: 2,
  desktop: 3,
  wide: 3
);
$col-size: (
  mobile: 1fr,
  tablet: 1fr,
  desktop: 1fr,
  wide: 1fr
);
$gutter-size: (
  mobile: 1rem, // 16px
  tablet: 2rem, // 32px
  desktop: 2rem, // 32px
  wide: 3rem // 48px
);
$external-gutter-size: (
  mobile: 1rem, // 16px
  tablet: 1rem, // 16px
  desktop: 1rem, // 16px
  wide: 1rem // 16px
);
$grid-max-size: (
  mobile: none,
  tablet: none,
  desktop: 60rem, // 960px
  wide: 71.25rem // 1140px
);
