
.block-colibris-sso-theme-user-actions {
  h2 {
    @extend %visually-hidden;
  }

  h3 {
    @include set-font-sizes(text);
    font-weight: normal;
    margin-bottom: 0;

    & + p {
      margin-top: 0;
      font-weight: 500;

      a {
        @extend %arrowed-link;
      }
    }
  }
}
