
.block-colibris-sso-theme-footer {
  margin-top: 2rem;

  &::before {
    border-top: 1px solid $main-color;
    content: "";
    display: block;
    margin: 1em auto;
    width: 3.5rem;
  }

  .menu {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }

    a {
      @extend %reverse-link;
      display: block;
      padding: .5em 1em;
    }
  }

  @include breakpoint(tablet) {
    font-size: .8em;

    .menu {
      li {
        display: flex;

        &:not(:last-child)::after {
          color: $main-color;
          content: "-";
          display: block;
          padding: .5em 0;
        }
      }
    }
  }

  @include breakpoint(desktop) {
    font-size: .9em;
  }
}
