
.block-colibris-sso-theme-local-tasks {
  .tabs {
    li {
      display: block;
    }

    a {
      @extend %arrowed-link;
    }
  }

  @include breakpoint(tablet) { font-size: .8em; }
  @include breakpoint(desktop) { font-size: .9em; }
}
