h1, .page-title {
  font-size: 2rem;
  line-height: 3rem;
}

#block-colibris-sso-theme-content {
  .password-confirm, .password-field, .password-strength, .password-confirm-match {
    width: 100%;
  }
  div.password-confirm {
    margin-top: 0.5rem;
  }
  .password-strength {
    margin-bottom: 0.75rem;
  }
  .password-suggestions {
    background: rgba(185, 205, 0, 0.3);
    border: none;
  }
  .image-widget {
    margin: 0.5rem 0 0.25rem;
  }
  .field--type-image.field--name-field-avatar.field--widget-image-image {
    input.form-submit {
      margin: 1.4em 0;
      width: 100%;
    }
  }
  .field--name-field-address {
    details {
      border: 0;
    }
    summary {
      display: none;
    }
    div.details-wrapper {
      padding: 0.5em 1.5em 0.5em 0;
    }
  }
  #cas-server-user-login .lonely-button {
    margin-left: 0;
  }

  .form-item-field-consent-gdpr-0-agreed .form-required::after {
    background-image: none;
    margin: 0;
  }
}

