
.eu-cookie-compliance {
  &-banner {
    border-top: solid 6px $pomme;
    background-color: white;
    padding-top: 1rem;
  }

  &-message {
    h2 {
      @include set-font-sizes(h3);
    }

    p:last-of-type {
      display: inline;
    }

    button {
      @extend %link;
      background: transparent;
      border: none;
    }
  }

  &-buttons {
    padding: 1rem 0;
    text-align: center;
  }

  &-default-button {
    @extend %link;
    background: transparent;
    border: none;
  }

  &-secondary-button {
    @include button();
    background-color: $ardoise;
    border: none;
    color: $white;
    padding: 0.5rem;

    &:hover {
      border: solid 1px $ardoise;
    }
  }
}
