
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
.layout-container {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;

  &.no-scroll {
    overflow: hidden;
  }
}

body.toolbar-fixed {
  &,
  .layout-container {
    min-height: calc(100vh - 40px);
  }
}

.layout-container {
  overflow-y: hidden;
}

.layout-content {
  @include grid-setup();

  @include breakpoint(tablet) {
    grid-auto-rows: min-content 1fr;

    .region:nth-child(1) {
      @include grid-column(1);
      @include grid-row(1);
    }

    .region:nth-child(2) {
      @include grid-column(2);
      @include grid-row(1, 2);
    }

    .region:nth-child(3) {
      @include grid-column(1);
      @include grid-row(2);
    }
  }

  @include breakpoint(desktop) {
    grid-auto-rows: auto;

    .region:nth-child(1) {
      @include grid-column(1);
      @include grid-row(1);
    }

    .region:nth-child(2) {
      @include grid-column(2);
      @include grid-row(1);
    }

    &.no-second-sidebar {
      .region:nth-child(2) {
        @include grid-column(2, 2);
      }
    }

    .region:nth-child(3) {
      @include grid-column(3);
      @include grid-row(1);
    }
  }
}
