
.messages {
  margin-bottom: 1rem;
  overflow-wrap: break-word;
  word-wrap: break-word;

  // Fix icon alignment.
  background-position: 10px 19px;
  @include breakpoint(tablet) { background-position: 10px 26px; }
  @include breakpoint(desktop) { background-position: 10px 22px; }
}
