
// Font faces.

//@font-face {
//  font-family: 'Quicksand';
//  src: url($fonts-dir + '/quicksand_regular/quicksand_regular-webfont.woff2') format('woff2'),
//  url($fonts-dir + '/quicksand_regular/quicksand_regular-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}

// Text styles.

html {
  color: $text-color;
  font-family: $base-font;
}

html,
body {
  font-size: 16px;
  line-height: 1.4;
  word-wrap: break-word;
}

body > * {
  @include set-font-sizes(text);
}

p {
  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}
