@import "../variables/fonts";

// Loop over all titles to set their default style according to $font-sizes.
// @see variables/_fonts.scss
@each $title in (h1 h2 h3 h4 h5 h6) {
  #{$title} {
    @extend %title-commons;
    @include set-font-sizes($title);
  }
}

h1 {
  display: inline-block;
  position: relative;

  &::after {
    border-bottom: 5px solid $main-color;
    bottom: -.5rem;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 3.5rem;

    @include breakpoint(tablet) {
      bottom: -.25rem;
    }

    @include breakpoint(desktop) {
      bottom: 0;
    }
  }
}
