@import "transition";

@mixin button() {
  @include transition(all);
  background: $button-main-color;
  border: 1px solid $button-main-color;
  border-radius: .5rem;
  color: $button-secondary-color;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  padding: 1rem 3rem;

  &:hover,
  &:focus {
    background: $button-secondary-color;
    color: $button-main-color;
  }

  &[disabled] {
    background: $button-disabled-bg-color;
    color: $button-disabled-color;
    cursor: default;
  }
}

@mixin lonely-button() {
  @include button();
  // @TODO: figure out why the fuck there is a delta between the lonely button
  // style on registration and login. It doesn't make sense.
  //border-radius: 0 .5rem .5rem 0;
  //padding-right: 1rem;
  //text-align: right;
  display: block;
  width: 100%;
  max-width: 100%;
}
