@import "../variables/grid";
@import "vertical_rythm";

// Functions.

@function grid-gutter-size($device: mobile) {
  @return map-get($gutter-size, $device);
}

@function grid-external-gutter-size($device: mobile) {
  @return map-get($external-gutter-size, $device);
}

// Mixins.

@mixin grid-container($device: mobile) {
  display: grid;
  grid-column-gap: map-get($gutter-size, $device);
  grid-row-gap: get-vertical-rythm($device, small);
  grid-template-columns: repeat(map-get($nb-cols, $device), map-get($col-size, $device));
}

@mixin grid-width($device: mobile) {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: map-get($grid-max-size, $device);
  padding-left: map-get($external-gutter-size, $device);
  padding-right: map-get($external-gutter-size, $device);
}

@mixin grid-all-widths() {
  @each $device in $major-breakpoints {
    @include breakpoint($device) {
      @include grid-width($device);
    }
  }
}

@mixin grid-setup($subgrid: false) {
  @each $device in $major-breakpoints {
    @include breakpoint($device) {
      @if ($subgrid == false) {
        @include grid-width($device);
      }
      @include grid-container($device);
    }
  }
}

@mixin subgrid-setup() {
  @include grid-setup(true);
}

@mixin grid-column($start: auto, $span: 1) {
  grid-column: #{$start} / #{$start + $span};
}

@mixin grid-row($start: auto, $span: 1) {
  grid-row: #{$start} / #{$start + $span};
}
