@import "font_size";
@import "transition";

%link {
  @include transition(color);
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

%reverse-link {
  @include transition(color);
  color: $link-hover-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-color;
  }
}

%underlined-link {
  @extend %link;
  text-decoration: underline;
}

%arrowed-link {
  @extend %reverse-link;

  &::before {
    color: $link-color;
    content: '⟶';
    display: inline-block;
    margin-right: .5rem;
  }
}
